# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
**/public/firebase-messaging-sw.js
**/public/offline-sw.js
**/public/messaging.js
/dist/
**/index.dist.js

# misc
.DS_Store
.env*
.firebase

.npmrc

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#database
*.db
*.sqlite
